astropy==6.0.0
astropy-iers-data==0.2025.8.4.0.42.59
certifi==2025.8.3
charset-normalizer==3.4.3
contourpy==1.3.0
cycler==0.12.1
filelock==3.18.0
fonttools==4.59.0
fsspec==2025.7.0
h5py==3.14.0
idna==3.10
imageio==2.37.0
importlib_resources==6.5.2
ipykernel==6.31.0
Jinja2==3.1.6
jpype1==1.6.0
kiwisolver==1.4.7
lazy_loader==0.4
MarkupSafe==3.0.2
matplotlib==3.5.3
matplotlib-inline==0.1.6
miplib==1.0.6
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
packaging==25.0
pandas==2.3.1
pillow==11.3.0
PIMS==0.7
platformdirs==4.3.8
pooch==1.8.2
psf==2023.4.26
pyerfa==2.0.1.5
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
pyvista==0.43.9
PyYAML==6.0.2
requests==2.32.4
scikit-image==0.24.0
scipy==1.11.4
scooby==0.10.1
sdeconv==1.0.1
seaborn==0.13.0
simpleitk==2.5.2
six==1.17.0
slicerator==1.1.0
sympy==1.14.0
tifffile==2024.8.30
torch==2.2.2
torchvision==0.17.2
traitlets==5.14.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
vtk==9.5.0
zipp==3.23.0
